<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxl.login.mapper.LoginMapper">
    <select id="getLoginUserById" parameterType="int" resultType="com.hxl.login.model.UserInfo">
        SELECT
            auth_name AS userName,
            auth_pw AS password
        FROM
            auth
        WHERE
            auth.id = #{userId}
    </select>
</mapper>